---
layout: default
title: Home
---

<!-- Open source projects -->

<h2 id="open-source-projects-ref">Open Source Projects</h2>
<table class="projects">
  {% for project in site.data.projects %}
  <tr>
    <td>
        {% if project.url %}
        <a href="{{ project.url }}">{{ project.name }}</a>
        {% else %}
        {{ project.name }}
        {% endif %}
    </td>
    <td>
        {{ project.description }}
        <br/>
        {% if project.github != '' %}
        <a class="openSourceLink" href="{{ project.github }}"><i class="fab fa-github"></i> Github</a>
        {% endif %}
        {% if project.packagist %}
        <a class="openSourceLink" href="{{ project.packagist }}"><i class="fas fa-elephant"></i> Packagist</a>
        {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<!-- Talks -->
<h2>Talks</h2>
{% for talk in site.data.talks  %}
    {% capture this_year %}{{ talk.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h3 id="{{ this_year }}-ref">{{this_year}}</h3>
    <ul>
    {% endif %}

    <li><a href="{{ talk.url }}">{{ talk.title }}</a></li>
    {% if talk.description %} {{talk.description}} {% endif %}

    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h3 id="{{ next_year }}-ref">{{next_year}}</h3>
        <ul>
        {% endif %}
    {% endif %}
{% endfor %}

<!-- Articles -->

{% if paginator.posts %}
<h2>Articles</h2>

{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h3 id="{{ this_year }}-ref">{{this_year}}</h3>
    <ul>
    {% endif %}

    <li><a href="{{ post.url }}">{{ post.title }}</a></li>

    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h3 id="{{ next_year }}-ref">{{next_year}}</h3>
        <ul>
        {% endif %}
    {% endif %}
{% endfor %}
{% endif %}

<!-- Activate pagination when there are enough posts -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->