<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div>
        <img class="photo" src="/assets/images/{{ site.title_image }}" alt="" />
      </div>

      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin"></i></a>
      <a href="https://medium.com/@{{ site.medium_username }}"><i class="fab fa-medium"></i></a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" href="/assets/documents/cv-adrien-ball.pdf">CV</a>

    </nav>

    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
    </a>
  </div>
</div>
